<!DOCTYPE html>
<html>
  <head>
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="bg-auto">
        <div class="container px-5 py-12 mx-auto">
            <div class="flex flex-col flex-wrap">
                <h1 class="text-4xl font-medium my-10">
                    RSSynthesis - Feed Entries
                </h1>
            </div>
            <table class="table-auto w-3/4">
                <thead>
                    <tr>
                      <th class="text-center">ID</th>
                      <th class="text-center">Title</th>
                      <th class="text-center">URL</th>
                      <th class="text-center">Published At</th>
                      <th class="text-center">Updated At</th>
                      <th class="text-center">Preview</th>
                    </tr>
                  </thead>
                {% for entry in entries %}
                <tbody>
                  <tr>
                    <td class="text-center">{{ entry.id }}</td>
                    <td class="text-center">{{ entry.title }}</td>
                    <td class="text-center">{{ entry.url }}</td>
                    <td class="text-center">{{ entry.published_at }}</td>
                    <td class="text-center">{{ entry.updated_at }}</td>
                    <td class="text-center">{{ entry.preview }}</td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
        </div>
    </section>
  </body>
</html>