<!DOCTYPE html>
<html>

<head>
  <link href="./../static/output.css" rel="stylesheet">
  <title>RSSynthesis - Feed Entries</title>
</head>

<body class="prose lg:w-3/5 mx-auto max-w-none sm:prose-xl md:prose-xl lg:prose-lg my-5">
  <section>
    <h1 class="my-10 flex justify-center">
      Feed Entries - {{ entries[0].feed_name }}
    </h1>
  </section>
  <div class="my-10 flex justify-center mx-auto">
    <a href="{{ url_for('root') }}">
      <button class="btn btn-wide btn-accent">Back to Feeds</button>
    </a>
  </div>
  <div class="grid-flow-row lg:grid-cols-4 md:grid-cols-2 s:grid-cols-1 grid gap-4">
    {% for entry in entries|sort(attribute='sort_time', reverse = True) %}
    <div>
      <div class="card card-compact w-5/6 shadow-xl bg-base-300">
        <div class="card-body">
          <h2 class="card-title">
            <a href="{{ url_for('read', feed_entry_id=entry.id) }}" class="no-underline">
              {{ entry.title }}
            </a>
          </h2>
          <p>
            From: {{ entry.feed_name }}<br />
            Last Updated: {{ entry.published_at }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>