<!DOCTYPE html>
<html>

<head>
  <link href="./../static/output.css" rel="stylesheet">
  <title>RSSynthesis - Feed Entries</title>
</head>

<body class="prose sm:w-5/6 lg:w-4/5 mx-auto max-w-none sm:prose-2xl lg:prose-base my-5">
  <section>
    <h1 class="my-10 flex justify-center">
      Feed Entries - {{ entries[0].feed_name }}
    </h1>
  </section>
  <div class="my-10 flex justify-center mx-auto">
    <a href="{{ url_for('root') }}">
      <button class="btn btn-wide btn-accent sm:scale-125">Back to Feeds</button>
    </a>
  </div>
  <div class="flex justify-center grid-flow-row lg:grid-cols-3 s:grid-cols-1 grid gap-10">
    {% for entry in entries|sort(attribute='sort_time', reverse = True) %}
    <div class="card card-compact w-full shadow-xl bg-neutral mx-auto">
      <div class="card-body">
        <h1 class="card-title">
          <a href="{{ url_for('read', feed_entry_id=entry.id) }}" class="no-underline">
            {{ entry.title }}
          </a>
        </h1>
        <h3>
          From: {{ entry.feed_name }} | Published: {{ entry.published_at }}
        </h3>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>