<!DOCTYPE html>
<html>

<head>
    <link href="./../static/output.css" rel="stylesheet">
    <title>RSS - {{ content.title }}</title>
</head>

<body class="prose sm:w-full lg:w-4/5 mx-auto max-w-none sm:prose-2xl lg:prose-lg my-5 justify-items-center">
    <section class="flex justify-center">
        <div class="grid grid-cols-3 lg:w-3/5 sm:w-3/5 scale-125 my-5 content-center">
            <a href="{{ content.url }}">
                <button class="btn btn-accent">View Original Article</button>
            </a>
            <a href="{{ url_for('list_entries_by_feed', feed_id=content.feed_id) }}">
                <button class="btn btn-accent">Return to {{content.feed_name}}</button>
            </a>
            <a href="{{ url_for('read', feed_entry_id=content.id).include_query_params(redrive=True) }}">
                <button class="btn btn-accent">Redrive this Article</button>
            </a>
        </div>
    </section>
    <section class="sm:px-10 my-5">
        <h1>{{ content.title }}</h1>
        {% if content.byline %}
        <h2>By: {{ content.byline }}</h2>
        <div>Published: {{ content.published_at }}</div>
        <div>Updated: {{ content.updated_at }}</div>
        {% endif %}
    </section>
    {% if content.summary %}
    <section class="sm:px-10">
        <h1>TL;DR</h1>
        <div>{{ content.summary| safe }}</div>
    </section>
    {% endif %}
    <article class="sm:px-10">
        <h1>Full Article</h1>
        <div class="justify-center ">{{ content.content| safe }}</div>
    </article>
</body>

</html>