<!DOCTYPE html>
<html data-theme="{{settings.theme.value}}">

<head>
  <link href="./../static/output.css" rel="stylesheet">
  <title>Precis - Feed Entries</title>
</head>

<body class="w-screen lg:w-3/5 mx-auto">
  <section class="mx-auto justify-center w-screen lg:w-full mb-10">
    <div class="navbar bg-accent h-28 lg:h-20">
      <div class="navbar-center lg:navbar-start">
        <h1 class="text-5xl lg:text-3xl text-accent-content">
          Feed Entries {% if recent %} - Recent {% elif feed.name %} - {{ feed.name }} {% endif %}
        </h1>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-bottom dropdown-end">
          <div tabindex="0" role="button" class="btn btn-accent h-16 w-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0"
            class="menu menu-lg dropdown-content mt-12 z-[1] p-2 shadow bg-neutral rounded-box w-screen lg:w-96 outline">
            {% if not recent %}
            <li>
              <a href="{{ url_for('refresh_feed', feed_id=feed.id) }}"
                class="text-4xl lg:text-xl text-nowrap no-underline">
                Refresh This Feed
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ url_for('list_recent_feed_entries') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                Recent Feed Entries
              </a>
            </li>
            <li>
              <a href="{{ url_for('settings') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                Settings
              </a>
            </li>
            <li>
              <a href="{{ url_for('root') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                Return to All Feeds
              </a>
            </li>
            <li>
              <a href="{{ url_for('about') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                About Precis
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% if refresh_requested %}
  <section class="w-3/4 lg:w-2/5 mx-auto gap-5 my-5">
    <div role="alert" class="alert alert-info text-2xl lg:text-xl">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <span>A refresh of this feed has been requested!</span>
    </div>
  </section>
  {% endif %}
  <div class="justify-center grid-flow-row grid-cols-1 grid gap-10">
    {% for entry in entries|sort(attribute='sort_time', reverse = True) %}
    <div class="card card-normal lg:card-compact w-11/12 lg:w-4/5 shadow-xl bg-neutral mx-auto outline">
      <a href="{{ url_for('read', feed_entry_id=entry.id) }}" class="no-underline">
        <div class="card-body">
          <h1 class="card-title text-4xl lg:text-2xl">
            {{ entry.title }}
          </h1>
          <div class="card-actions text-3xl lg:text-lg">
            <p>
              {{ entry.feed_name }}
            </p>
            <p>
              Published: {{ entry.published_at }}
            </p>
          </div>
        </div>
      </a>
    </div>

    {% endfor %}
  </div>
</body>

</html>
