<!DOCTYPE html>
<html data-theme="{{settings.theme.value}}">

<head>
    <link href="./../static/output.css" rel="stylesheet">
    <title>RSS - {{ content.title }}</title>
</head>

<body class="w-full lg:w-4/5 mx-auto">

    <section class="mx-auto justify-center flex w-full lg:w-3/5">
        <div class="navbar bg-accent h-28 lg:h-20">
            <div class="navbar-start">
                <a href="{{ url_for('list_entries_by_feed', feed_id=content.feed_id) }}"
                    class="btn btn-ghost text-5xl lg:text-3xl text-accent-content">
                    {{ content.feed_name}}
                </a>
            </div>
            <div class="navbar-end">
                <div class="dropdown dropdown-bottom dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-accent h-16 w-16">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-lg dropdown-content mt-12 z-[1] p-2 shadow bg-neutral rounded-box w-screen lg:w-96 outline">

                        <li>
                            <a href="{{ content.url }}" class="text-4xl lg:text-xl text-nowrap">
                                View Original Article
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('list_entries_by_feed', feed_id=content.feed_id) }}"
                                class="text-4xl lg:text-xl text-nowrap">
                                Return to {{ content.feed_name }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('list_recent_feed_entries') }}"
                                class="text-4xl lg:text-xl text-nowrap no-underline">
                                Recent Feed Entries
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('root') }}" class="text-4xl lg:text-xl text-nowrap">
                                Return to All Feeds
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('settings') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                                Settings
                            </a>
                        </li>
                        {% if content.content %}
                        <li>
                            <a href="{{ url_for('read', feed_entry_id=content.id).include_query_params(redrive=True) }}"
                                class="text-4xl lg:text-xl text-nowrap">
                                Redrive this Article
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for('about') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                                About Precis
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="my-10 w-11/12 lg:w-3/5  mx-auto">
        <h1 class="text-6xl lg:3xl">{{ content.title }}</h1>
        {% if content.byline %}
        <h2 class="text-4xl lg:xl my-5">By: {{ content.byline }}</h2>
        <div class="text-3xl lg:xl my-5">Published: {{ content.published_at }}</div>
        <div class="text-3xl lg:xl my-5">Updated: {{ content.updated_at }}</div>
        {% endif %}
        <div class="text-2xl lg:xl my-5">Reading Time: {{ content.reading_time }} minute(s)</div>
        <div class="text-2xl lg:xl my-5">Word Count: {{ content.word_count }} words</div>
        <div class="text-2xl lg:xl my-5">Complexity: Grade {{ content.reading_level }}</div>
    </section>
    <section class="w-11/12 lg:w-3/5 mx-auto">
        {% if content.preview %}
        <section class="prose sm:prose-2xl lg:prose-lg max-w-none">
            <h2>Preview</h2>
            <div>{{ content.preview| safe }}</div>
        </section>

        <section class="justify-center flex my-5">
            <a href="{{ content.url }}">
                <button class="btn btn-accent btn-lg rounded-xl text-4xl lg:text-lg text-nowrap"">
                    View Original Article
                </button>
            </a>
        </section>
        {% endif %}
        {% if content.summary %}
        <section class=" prose sm:prose-2xl lg:prose-lg max-w-none">
                    <h2>TL;DR</h2>
                    <div>{{ content.summary| safe }}</div>
        </section>
        {% endif %}
        {% if content.content %}
        {% if content.content | wordcount < 200 %} <div role="alert" class="alert alert-info my-5 text-3xl lg:text-xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <span>This content is very short, so it may be low quality!</span>
            </div>
            {% endif %}
            <article class="prose sm:prose-2xl lg:prose-lg max-w-none">
                <h2>Full Article</h2>
                <div class="justify-center ">{{ content.content| safe }}</div>
            </article>
            {% endif %}
    </section>
</body>

</html>
