<!DOCTYPE html>
<html data-theme="{{settings.theme.value}}">

<head>
  {% if update_exception or update_status %}
  <link href="./../../static/output.css" rel="stylesheet">
  {% else %}
  <link href="./../../static/output.css" rel="stylesheet">
  {% endif %}
  <title>Precis - Settings</title>
</head>

<body class="w-screen lg:w-3/5 mx-auto">
  <section class="mx-auto justify-center w-screen lg:w-full mb-10">
    <div class="navbar bg-accent h-28 lg:h-20">
      <div class="navbar-start">
        <h1 class="text-5xl lg:text-3xl text-accent-content">
          Settings
        </h1>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-bottom dropdown-end">
          <div tabindex="0" role="button" class="btn btn-accent h-16 w-16 justify-end">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0"
            class="menu menu-lg dropdown-content mt-12 z-[1] p-2 shadow bg-neutral rounded-box w-screen lg:w-96 outline">
            <li>
              <a href="{{ url_for('feeds') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                Edit Feed Settings
              </a>
            </li>
            <li>
              <a href="{{ url_for('list_recent_feed_entries') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                Recent Feed Entries
              </a>
            </li>
            <li>
              <a href="{{ url_for('root') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                Return to All Feeds
              </a>
            </li>
            <li>
              <a href="{{ url_for('about') }}" class="text-4xl lg:text-xl text-nowrap no-underline">
                About Precis
              </a>
            </li>
          </ul>
        </div>
      </div>
  </section>
  <div>
    <h2 class="text-4xl lg:text-2xl my-5 justify-center flex">
      Global Settings
    </h2>
  </div>
  <section class="h-screen">
    <form method="post" action="/api/update_settings/">
      <div class="form-control w-4/5 lg:w-3/5 mx-auto">
        <label class="label cursor-pointer gap-2">
          <span class="label-text text-2xl lg:text-xl">Send Notifications</span>
          <input name="send_notification" type="checkbox" class="toggle" {% if settings.send_notification %} checked {%
            endif %} />
        </label>
        <label class="label cursor-pointer gap-2">
          <span class="label-text text-2xl lg:text-xl">Finished Onboarding</span>
          <input name="finished_onboarding" type="checkbox" class="toggle" {% if settings.finished_onboarding %} checked {%
            endif %} />
        </label>
        <label class="label flex items-center gap-2 text-2xl lg:text-xl">
          Refresh Interval
          <input type="number" placeholder="How many minutes?"
            class="input input-bordered w-full max-w-xs text-2xl lg:text-xl" value="{{ settings.refresh_interval}}"
            name="refresh_interval">
        </label>
        <label class="label flex items-center gap-2 text-2xl lg:text-xl">
          Theme
          <select name="theme" class="select select-bordered w-full max-w-xs my-5 text-2xl lg:text-xl">
            {% for theme in themes %}
            <option {% if theme==settings.theme %} selected {% endif %} class="text-2xl lg:text-xl">{{ theme }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="label flex items-center gap-2 text-2xl lg:text-xl">
          Notification Handler
          <select name="notification" class="select select-bordered w-full max-w-xs my-5 text-2xl lg:text-xl">
            {% for choice in notification_handler_choices %}
            <option {% if choice==settings.notification_handler_key %} selected {% endif %} class="text-2xl lg:text-xl">
              {{ choice }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="label flex items-center gap-2 text-2xl lg:text-xl">
          Content Retrieval Handler
          <select name="content" class="select select-bordered w-full max-w-xs my-5 text-2xl lg:text-xl">
            {% for choice in content_handler_choices %}
            <option {% if choice==settings.content_retrieval_handler_key %} selected {% endif %}
              class="text-2xl lg:text-xl">{{
              choice }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="label flex items-center gap-2 text-2xl lg:text-xl">
          Summarization Handler
          <select name="summarization" class="select select-bordered w-full max-w-xs my-5 text-2xl lg:text-xl">
            {% for choice in summarization_handler_choices %}
            <option {% if choice==settings.summarization_handler_key %} selected {% endif %}
              class="text-2xl lg:text-xl">
              {{ choice }}
            </option>
            {% endfor %}
          </select>
        </label>
        <label class="label flex items-center gap-2 text-2xl lg:text-xl">
          Reading Speed (WPM)
          <input type="number" placeholder="How many words per minute?"
            class="input input-bordered w-full max-w-xs text-2xl lg:text-xl" value="{{ settings.reading_speed}}"
            name="reading_speed">
        </label>
        <label class="label flex items-center gap-2 text-2xl lg:text-xl">
          Hours for Recent
          <input type="number" placeholder="How many hours to look back for recent?"
            class="input input-bordered w-full max-w-xs text-2xl lg:text-xl" value="{{ settings.recent_hours}}"
            name="recent_hours">
        </label>
      </div>
      <div class=" w-1/2 md:w-1/5 mx-auto flex justify-center my-5">
        <div class="tooltip" data-tip="If you changed refresh interval you'll need to restart app to take effect">
          <button type="submit"
            class="btn btn-outline text-3xl lg:text-xl">
            Update
            {% if update_status %} &#9989 {% endif %}
            {% if update_exception %} &#10060 {% endif %}
          </button>
          {% if update_exception %}
          <div role="alert" class="alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ update_exception }}</span>
          </div>
          {% endif %}
        </div>
      </div>
    </form>
    <div>
      <h2 class="text-4xl lg:text-2xl my-5 justify-center flex">
        Handlers
      </h2>
    </div>
    <div class="justify-center grid-flow-row grid-cols-1 lg:grid-cols-3 grid gap-10">
      {% for handler in notification%}
      <div class="card card-normal lg:card-compact w-11/12 md:w-4/5 shadow-xl bg-base-300 mx-auto outline">

        <a class="no-underline" href="{{ url_for('handler_settings', handler=handler.type)}}">
          <div class="card-body">
            <h1 class="card-title text-4xl lg:text-2xl">
              {{ handler.type }}
            </h1>
            <div class="card-actions text-xl">
              <div class="badge badge-secondary rounded">
                {{ handler.handler_type }}
              </div>
              {% if handler.config %}
              <div class="badge badge-secondary rounded">
                configured
              </div>
              {% else %}
              <div class="badge badge-secondary rounded">
                not configured
              </div>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
</body>

</html>
